name: Continuous Deployment
on: 
  push:
    branches:
      - master  
jobs:
  deploy:
    runs-on: macOS-latest
    steps:
    - name: Install Cocoapods
      run: gem install cocoapods
    - uses: actions/checkout@v2
    - name: Unit Test and Lint
      run: |
        chmod +x pipeline/01-unit.sh
        chmod +x pipeline/02-lint.sh
        pipeline/01-unit.sh
        pipeline/02-lint.sh
    - name: Version Deploy
      id: set-result
      run: echo "VERSION_DEPLOY=$(grep "version.*=" Kushki.podspec | cut -d "'" -f 2)" >> $GITHUB_ENV
    - name: Create tag
      uses: actions/github-script@v3
      with:
       github-token: ${{ github.token }}
       script: |
        github.git.createRef({
          owner: context.repo.owner,
          repo: context.repo.repo,
          ref: `refs/tags/v${process.env.VERSION_DEPLOY}`,
          sha: context.sha
        })
    - name: Deploy to Cocoapods
      run: |
        set -eo pipefail
        pod trunk push --allow-warnings
      env:
        COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
