name: Continuous Integration
on: 
  pull_request:
    types: ['opened', 'edited', 'reopened', 'synchronize']
jobs:
  test-lint:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v2
    - name: Test Dev Environment
      run: |
        chmod +x pipeline/01-unit.sh
        chmod +x pipeline/02-lint.sh
        pipeline/01-unit.sh
        pipeline/02-lint.sh
